langgraph
langchain_community
langchain_openai
langchain_core
langchain-groq
python-dotenv
streamlit
ipykernel
opencv-python
pandas
scikit-learn
qrcode
pyttsx3
SpeechRecognition
sqlalchemy>=2.0.0
plotly
